* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
header {
    background: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #007BFF;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

.user-list {
    list-style: none;
}

.user-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f9f9f9;
    transition: transform 0.2s, background 0.2s;
}

.user-item:hover {
    background: #eef6ff;
    transform: scale(1.02);
}

.user-name {
    font-weight: bold;
    font-size: 1.1em;

}

.user-login {
    margin-left: 30px;
    color: #555;
    font-style: italic;
}
