<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/cadastrarusuario" method="post">
        <label>Digite seu nome</label>
        <input type="text" name="nome"> <br>
        <label>Digite seu login</label>
        <input type="text" name="login"> <br>
        <label>Digite sua senha</label>
        <input type="password" name="senha"> <br>
        <br>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>